{% extends 'base.html.twig' %}

{% block body %}

            <h1 class="mb-0">Ajouter un Participant</h1>
          <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}

            <button type="submit" class="btn btn-danger">Créer</button>

            {{ form_end(form) }}
          </div>

{% endblock %}